{% extends "album/base.html" %}

{% block content %}
<h2>Saját képeim</h2>

<a class="btn" href="{% url 'upload_photo' %}">+ Feltöltés</a>

<br><br>

<div class="grid">
    {% for photo in photos %}
        <div class="card">
            <a href="{% url 'photo_detail' photo.id %}">
                <img src="{{ photo.image.url }}">
            </a>
            <div class="card-body">
                {{ photo.name }}<br><br>
                <a class="btn" href="{% url 'delete_photo' photo.id %}">Törlés</a>
            </div>
        </div>
    {% empty %}
        Nincs még feltöltött kép.
    {% endfor %}
</div>

{% endblock %}
