{% extends "album/base.html" %}

{% block content %}

<h2>Fotók</h2>

<div style="margin-bottom:20px;">
    <span style="margin-right:10px;">Rendezés:</span>

    <a class="btn" href="?sort=name">Név szerint</a>
    <a class="btn" href="?sort=date">Dátum szerint</a>
</div>

<div class="grid">
    {% for photo in photos %}
        <div class="card">
            <a href="{% url 'photo_detail' photo.id %}">
                <img src="{{ photo.image.url }}">
            </a>
            <div class="card-body">
                <strong>{{ photo.name }}</strong><br>
                <small>{{ photo.uploaded_at|date:"Y-m-d H:i" }}</small>
            </div>
        </div>
    {% empty %}
        Nincs még kép.
    {% endfor %}
</div>

{% endblock %}
